.header {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $header_h;
    background-color: #fff;

    @include over {
        width: $hm_outer_mw;
    }
    @include sp {
        position: relative;
        z-index: 10;
    }

    &._active {
        position: fixed;
    }

    &_ttl {
        font-size: 20px;
        font-weight: 800;
        padding-left: 41px;

        @include sp {
            font-size: 25px;
        }
    }

    .gnav_trigger {
        display: none;

        @include sp {
            position: absolute;
            z-index: 15;
            top: 8px;
            right: 10px;
            display: inline-block;
            width: 38px;
            height: 34px;
            transition: all .4s;

            &_span {
                position: absolute;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 4px;
                transition: all .4s;
                border-radius: 4px;
                background-color: black;
                &:nth-of-type(1) {
                    top: 0;
                }
                &:nth-of-type(2) {
                    top: 15px;
                }
                &:nth-of-type(3) {
                    top: 30px;
                }
            }

            &._active {
                position: fixed;

                span {
                    &:nth-of-type(1) {
                        -webkit-transform: translateY(15px) rotate(-45deg);
                                transform: translateY(15px) rotate(-45deg);
                    }
                    &:nth-of-type(2) {
                        opacity: 0;
                    }
                    &:nth-of-type(3) {
                        -webkit-transform: translateY(-14px) rotate(45deg);
                                transform: translateY(-14px) rotate(45deg);
                    }
                }
            }
        }
    }
    .gnav {
        background-color: #fff;

        @include tab {
            margin: 0 auto;
        }
        @include sp {
            display: none;
        }

        .gnav_list {
            display: -webkit-flex;
            display:     -ms-flex;
            display:         flex;
            justify-content: space-between;

            .gnav_item {
                &:after {
                    content: "/";
                    color: #707070;
                }
                &:last-child:after {
                    content: none;
                }

                .gnav_link {
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;

                    @include calc_vw(padding-left, 48.65);
                    @include calc_vw(padding-right, 48.65);
                    @include pc {
                        @include calc_vw(padding-left, 40);
                        @include calc_vw(padding-right, 40);
                    }
                    @include tab {
                        @include calc_vw(padding-left, 30);
                        @include calc_vw(padding-right, 30);
                    }

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
}
