// sidebar_container　スタイル
@mixin sidebar_container {
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #fff;
}

// sidebar_ttl_wrap　スタイル
@mixin sidebar_ttl_wrap {
    background-color: #1d2d44;
    border-radius: 5px 5px 0 0;
    height: 59px;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
}

// sidebar_ttl　スタイル
@mixin sidebar_ttl {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding-left: 9.503%;
    width: 100%;
}

// sidebar_element_wrap　スタイル
@mixin sidebar_element_wrap {
    padding: 0 9.503%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

// sidebar_element　スタイル
@mixin sidebar_element {
    font-size: 12px;
    font-weight: 300;
    padding: 18px 0;
    border-bottom: dotted 1px #707070;

    &:last-child {
        border-bottom: 0;
    }
}

@mixin sidebar-block_ttl {
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    border-bottom: solid 1px #707070;
    padding-bottom: 19.25px;
}

@mixin sidebar-block_list {
    margin: 0 auto;
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    flex-wrap: wrap;
    padding-top: 19.5px;
    padding-left: 36px;

    @include tab {
        justify-content: space-between;
    }
}

@mixin sidebar-block_item {
    padding-bottom: 12px;
    font-weight: 300;
    width: 100%;

    @include tab {
        width: auto;
    }
    @include sp {
        width: 100%;
    }
}

// sns_btn　スタイル
@mixin sns_btn {
    color: #fff;
    width: 100%;
    padding: 23px 0;
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-align: center;
    &:hover {
        opacity: .8;
    }

    @include tab {
        width: 45%;
    }
    @include sp-small-2 {
        width: 90%;
        margin: 0 auto 14px;
    }
}
